!!!
%html
  %head
    %title OCD
    /%javascript{ :src => "something.js" }
    /%link{ :rel =>"stylesheet", :type => "text/css", :href => "/ocd.css"}
    %link{ :rel =>"stylesheet/less", :type => "text/css", :href => "/app.less"}
    %script{ :src => "/less-1.2.1.min.js", :type => "text/javascript"}
    %link{ :rel =>"stylesheet", :type => "text/css", :href => "/bootstrap.css"}
    %link{ :rel =>"stylesheet", :type => "text/css", :href => "/bootstrap-responsive.css"}


  %body
    

    #container
      
      %img{ :src=> "/logo.png"}
    
      #menu
      
      #books
        .books
          %a{ :href=> "https://mail.google.com/"}
            %img{:src => "/1.png"}
            %img.min{:src => "/min.png"}
          .bar
            %a what in the world
        .books
          %a
            %img{:src => "/2.png"}
            %img.min{:src => "/min.png"}
          .bar
            %a design
        .books
          %a
            %img{:src => "/3.png"}
            %img.min{:src => "/min.png"}
          .bar
            %a photography
        .books
          %a
            %img{:src => "/4.png"}
            %img.min{:src => "/min.png"}
          .bar
            %a what in the world
        .books
          %a{ :href=> "https://mail.google.com/"}
            %img{:src => "/5.png"}
            %img.min{:src => "/min.png"}
          .bar
            %a what in the world
        .books
          %a
            %img{:src => "/6.png"}
            %img.min{:src => "/min.png"}
          .bar
            %a design
        .books
          %a
            %img{:src => "/7.png"}
            %img.min{:src => "/min.png"}
          .bar
            %a photography
        .books
          %a
            %img{:src => "/8.png"}
            %img.min{:src => "/min.png"}
          .bar
            %a what in the world
            

