%html
  %head
    %title OCD
    /%javascript{ :src => "something.js" }
    
    
    %script{ :src => "/less-1.2.1.min.js", :type => "text/javascript"}
    %link{ :rel =>"stylesheet", :type => "text/css", :href => "/bootstrap.css"}
    %link{ :rel =>"stylesheet", :type => "text/css", :href => "/bootstrap-responsive.css"}
    %link{ :rel =>"stylesheet", :type => "text/css", :href => "/ocd2.css"}


  %body
    

    .container
      %img{ :src=> "/logo.png"}
      
      .row
        .span2.offset3
          %a{ :href=> "https://mail.google.com/"}
            %img{:src =>"/1.png"}
            %h2 whatr
        .span2
          %a{ :href=> "https://mail.google.com/"}
            %img{:src =>"/2.png"}
            %h2 whatr  
        .span2
          %a{ :href=> "https://mail.google.com/"}
            %img{:src =>"/3.png"}
            %h2 whatr
        .span2
          %a{ :href=> "https://mail.google.com/"}
            %img{:src =>"/4.png"}
            %h2 whatr
        .span2.offset3
          %a{ :href=> "https://mail.google.com/"}
            %img{:src =>"/5.png"}
            %h2 whatr
        .span2
          %a{ :href=> "https://mail.google.com/"}
            %img{:src =>"/6.png"}
            %h2 whatr  
        .span2
          %a{ :href=> "https://mail.google.com/"}
            %img{:src =>"/7.png"}
            %h2 whatr
        .span2
          %a{ :href=> "https://mail.google.com/"}
            %img{:src =>"/8.png"}
            %h2 whatr
      
      
      
        
        