%html
  %head
    %title OCD
    
    
    %script{ :src => "/less-1.2.1.min.js", :type => "text/javascript"}
    %link{ :rel =>"stylesheet", :type => "text/css", :href => "/bootstrap.css"}
    %link{ :rel =>"stylesheet", :type => "text/css", :href => "/bootstrap-responsive.css"}
    %link{ :rel =>"stylesheet", :type => "text/css", :href => "/ocd2.css"}


  %body
    

    .container
        
      .row
        .span10.offset1.right
      
          .header
            %img{ :src=> "/logo.png"}
            .menu
              %a.men +
              %a.men FEED
              %a.men BOOKS
              %a.men LOG OUT
          
          %ul.thumbnails
          
            %li.span2
              %a.thumbnail
                %img{:src =>"/1.png"}
                %h4 DESIGN
            %li.span2
              %a.thumbnail
                %img{:src =>"/2.png"}
                %h4 WHAT IN THE WORLD

            %li.span2
              %a.thumbnail
                %img{:src =>"/3.png"}
                %h4 PHOTOGRAPHY
            %li.span2
              %a.thumbnail
                %img{:src =>"/4.png"}
                %h4 DESIGN

            %li.span2
              %a.thumbnail
                %img{:src =>"/5.png"}
                %h4 DESIGN

            %li.span2
              %a.thumbnail
                %img{:src =>"/6.png"}
                %h4 DESIGN

            %li.span2
              %a.thumbnail
                %img{:src =>"/7.png"}
                %h4 DESIGN

            %li.span2
              %a.thumbnail
                %img{:src =>"/8.png"}
                %h4 DESIGN
            %li.span2
              %a.thumbnail
                %img{:src =>"/2.png"}
                %h4 DESIGN

            %li.span2
              %a.thumbnail
                %img{:src =>"/1.png"}
                %h4 DESIGN

            %li.span2
              %a.thumbnail
                %img{:src =>"/2.png"}
                %h4 DESIGN

            %li.span2
              %a.thumbnail
                %img{:src =>"/1.png"}
                %h4 DESIGN

            %li.span2
              %a.thumbnail
                %img{:src =>"/2.png"}
                %h4 DESIGN

            %li.span10
              .orange

          
      
      
        
        