
/*
 *	Grid Overlay for Twitter Bootstrap
 *	Assumes a 1.692em baseline grid (22px/13px)
 */
/*
@media (min-width: 1200px) {
    body {
		background: -webkit-linear-gradient(
						90deg, 
						rgba(0,0,0,0.05), 
						rgba(0,0,0,0.05) 	4.545%, 
						rgba(0,0,0,0) 		4.545%, 
						rgba(0,0,0,0) 		100%
					),
					-webkit-linear-gradient(
						0deg,
						rgba(0,0,0,0),
						rgba(0,0,0,0) 		35%,
						rgba(0,0,0,0.05)	35%,
						rgba(0,0,0,0.05)	36%,
						rgba(0,0,0,0)		36%,
						rgba(0,0,0,0)		65%,
						rgba(0,0,0,0.05)	65%,
						rgba(0,0,0,0.05)	66%,
						rgba(0,0,0,0)		66%,
						rgba(0,0,0,0)		100%
					);
		background-size: 1.692em 1.692em, 7.692em 7.692em; /* 7.692 - 2.308 = 5.384 */
		/*
		background-position: left top, center top;
	}
}
@media (max-width: 1199px) and (min-width: 980px) {
	body {
		background: -webkit-linear-gradient(
						90deg, 
						rgba(0,0,0,0.05), 
						rgba(0,0,0,0.05) 	4.545%, 
						rgba(0,0,0,0) 		4.545%, 
						rgba(0,0,0,0) 		100%
					),
					-webkit-linear-gradient(
						0deg,
						rgba(0,0,0,0),
						rgba(0,0,0,0) 		37.5%,
						rgba(0,0,0,0.05)	37.5%,
						rgba(0,0,0,0.05)	38.75%,
						rgba(0,0,0,0)		38.75%,
						rgba(0,0,0,0)		62.5%,
						rgba(0,0,0,0.05)	62.5%,
						rgba(0,0,0,0.05)	63.75%,
						rgba(0,0,0,0)		63.75%,
						rgba(0,0,0,0)		100%
					);
		background-size: 1.692em 1.692em, 6.154em 6.154em;
		background-position: left top, center top;
	}
}
@media (max-width: 979px) and (min-width: 761px) {
	body {
		background: -webkit-linear-gradient(
						90deg, 
						rgba(0,0,0,0.05), 
						rgba(0,0,0,0.05) 	4.545%, 
						rgba(0,0,0,0) 		4.545%, 
						rgba(0,0,0,0) 		100%
					),
					-webkit-linear-gradient(
						0deg,
						rgba(0,0,0,0),
						rgba(0,0,0,0) 		32.25%,
						rgba(0,0,0,0.05)	32.25%,
						rgba(0,0,0,0.05)	33.87%,
						rgba(0,0,0,0)		33.87%,
						rgba(0,0,0,0)		64.52%,
						rgba(0,0,0,0.05)	64.52%,
						rgba(0,0,0,0.05)	66.13%,
						rgba(0,0,0,0)		66.13%,
						rgba(0,0,0,0)		100%
					);
		background-size: 1.692em 1.692em, 4.769em 4.769em;
		background-position: left top, center top;
	}
}
@media (max-width: 760px){
	body {
		background: -webkit-linear-gradient(
						90deg, 
						rgba(0,0,0,0.05), 
						rgba(0,0,0,0.05) 	4.545%, 
						rgba(0,0,0,0) 		4.545%, 
						rgba(0,0,0,0) 		100%
					);
		background-size: 1.692em 1.692em;
		background-position: left top;	
	}
}*/

body{
	background-color: #EDEAE8;
	padding-top: 30px;
}

h4{
	color: white;
	position: relative;
	top: -125px;
	padding: 10px;
	background-color: #FF431A;
	opacity: .6;
	
}

.thumbnail{
	padding: 0px;
	line-height: 0;
	border: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: 0 0;
	-moz-box-shadow: 0 0;
	box-shadow: 0 0;

}

a.thumbnail:hover {
border-color: white;
-webkit-box-shadow: 0 0;
-moz-box-shadow: 0 0;
box-shadow: 0 0;
}

ul{
	padding-top: 20px;
}
ul.thumbnails{
	padding: -30px 0px;
}

.orange{
	width: 100%;
	height: 70px;
	background-color: #FF431A;
	opacity: .8;
	position: absolute;
	top: 20px;
}

a.men{
	padding-right: 5px;
	padding-left: 70px;
	color: #000; 
	
}

.menu{
	float: right;
}